=background-cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    behavior: url(/template/js/backgroundsize.min.htc)
    position: relative

=border-radius ($radius: 5px)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius
    behavior: url(/template/js/PIE.htc)

=border-radiuses ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0)
    -webkit-border-top-right-radius: $topright
    -webkit-border-bottom-right-radius: $bottomright
    -webkit-border-bottom-left-radius: $bottomleft
    -webkit-border-top-left-radius: $topleft

    -moz-border-radius-topright: $topright
    -moz-border-radius-bottomright: $bottomright
    -moz-border-radius-bottomleft: $bottomleft
    -moz-border-radius-topleft: $topleft

    border-top-right-radius: $topright
    border-bottom-right-radius: $bottomright
    border-bottom-left-radius: $bottomleft
    border-top-left-radius: $topleft
    behavior: url(/template/js/PIE.htc)

=placeholder($fontColor: #fff)
    &::-webkit-input-placeholder
    color: $fontColor


    &:-moz-placeholder
    color: $fontColor


    &::-moz-placeholder
    color: $fontColor


    &:-ms-input-placeholder
    color: $fontColor


=placeholder-focus($fontColor: #555)
    &:focus::-webkit-input-placeholder
    color: $fontColor


    &:focus:-moz-placeholder
    color: $fontColor


    &:focus::-moz-placeholder
    color: $fontColor


    &:focus:-ms-input-placeholder
    color: $fontColor


=transition ($time: 0.5s)
    -webkit-transition: all $time ease
    -moz-transition: all $time ease
    -o-transition: all $time ease
    transition: all $time ease

=box-shadow
    -webkit-box-shadow: 0px -5px 25px -6px rgba(0, 0, 0, 0.59)
    -moz-box-shadow: 0px -5px 25px -6px rgba(0, 0, 0, 0.59)
    box-shadow: 0px -5px 25px -6px rgba(0, 0, 0, 0.59)
