{% extends 'front/layout.html.twig' %}
        {% block main %}

                        <!-- /.col-lg-3 -->

                        <div class="col-lg-9">

                            <div class="card mt-4">
                                <img class="card-img-top img-fluid" src="images/{{ articles.image }}" alt="">
                                <div class="card-body">
                                    <h3 class="card-title">{{ articles.title }}</h3>
                                    <h4>{{ articles.price }} €</h4>
                                    <p class="card-text">{{ articles.description }}</p>
                                    <i>{{ articles.date|date('d/m/Y - H:i')}}</i>
                                </div>
                            </div>
                            <!-- /.card -->

                            <!--div class="card card-outline-secondary my-4">
                                <div class="card-header">
                                    Product Reviews
                                </div>
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                                    <hr>
                                    <a href="#" class="btn btn-success">Leave a Review</a>
                                </div>
                            </div-->
                            <!-- /.card -->

                        </div>
                        <!-- /.col-lg-9 -->

                    </div>
                </div>
        {% endblock %}
