<!DOCTYPE html>
<html lang="{{ lang }}">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Touch Event</title>

    <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/screen.css">
    {% block head_js %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.php">Touch non official Events</a>
    </div>
</nav>
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Touch non official Events</h1>
            <div class="list-group">
                {% for event in events %}
                    <a href="./article.php?id={{ event.id_event }}" class="list-group-item">{{ event.title }}</a>
                {% endfor %}
            </div>
        </div>
{% block main %}{% endblock %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script language="JavaScript">
</script>
{% block foot_js %}{% endblock %}
</body>
</html>